<mat-form-field appearance="outline" class="services-input">
    <mat-label>Искать услугу</mat-label>
    <input matInput placeholder="Начните искать" [(ngModel)]="searchStr">
</mat-form-field>


<div class="service-card">
    <ng-container *ngFor="let service of services | filterBy: ['name', 'shortName', 'description']: searchStr">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{service.name}}</mat-card-title>
                <mat-card-subtitle>{{service.shortName}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content><a [href]="service.url" target="_blank">Открыть</a></mat-card-content>
        </mat-card>
        <br/>
    </ng-container>
</div>
